* {
    box-sizing: border-box;
}

#navBar {
    background-color: rgb(52, 0, 73);
    border: 2px solid rgb(235, 235, 235);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

#navBar ul {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navBar-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navBar-link span {
    display: none;
}

.navBar-link span:hover {
    display: inline;
}

.navBar-link:hover {
    color: rgb(29, 166, 245);
}

#main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#boxes {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#boxes div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 150px;
    margin-top: 10px;
}

#red-box {
    background-color: red;
}


#green-box {
    background-color: green;
}

#yellow-box {
    background-color: yellow;
}

#blue-box {
    background-color: blue;
}

/* for mobile */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* for desctop */

@media only screen and (min-width: 600px) {
    /* For desktop: */

    .navBar-link span {
        display: inline;
    }

    #navBar ul {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}
  }

  @media only screen and (min-width: 800px) {
    /* For desktop: */
    .col-d-1 {width: 8.33%;}
    .col-d-2 {width: 16.66%;}
    .col-d-3 {width: 25%;}
    .col-d-4 {width: 33.33%;}
    .col-d-5 {width: 41.66%;}
    .col-d-6 {width: 50%;}
    .col-d-7 {width: 58.33%;}
    .col-d-8 {width: 66.66%;}
    .col-d-9 {width: 75%;}
    .col-d-10 {width: 83.33%;}
    .col-d-11 {width: 91.66%;}
    .col-d-12 {width: 100%;}
  }